In [1]:
# Import Dependencies

import pandas as pd

In [4]:
# Read student attendance files for all months of 2019

df1 = pd.read_csv("../Data/Attendance/StudentAttendance_Jan.csv")
df2 = pd.read_csv("../Data/Attendance/StudentAttendance_Feb.csv")
df3 = pd.read_csv("../Data/Attendance/StudentAttendance_Mar.csv")
df4 = pd.read_csv("../Data/Attendance/StudentAttendance_Apr.csv")
df5 = pd.read_csv("../Data/Attendance/StudentAttendance_May.csv")
df6 = pd.read_csv("../Data/Attendance/StudentAttendance_June.csv")
df7 = pd.read_csv("../Data/Attendance/StudentAttendance_July.csv")
df8 = pd.read_csv("../Data/Attendance/StudentAttendance_Aug.csv")
df9 = pd.read_csv("../Data/Attendance/StudentAttendance_Sep.csv")
df10 = pd.read_csv("../Data/Attendance/StudentAttendance_Oct.csv")
#df11 = pd.read_csv("../Data/Attendance/StudentAttendance_Nov.csv")
df12 = pd.read_csv("../Data/Attendance/StudentAttendance_Dec.csv")

In [5]:
df1.head()

,ContractCode,CourseCode,CourseName,UserFullName,TimeIn,SortField,weekend,timeout,attendanceid,TotalTime,...,userid,PrintName,contractstartdate,scheduledenddate,FundingSourceName,StudentNumber,userprogramid,contractid,ActivityNum,ActivityID
0,V149497,HCAP11I2,Anatomy and Physiology Part 2,Faithful Nkanga,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573177,307,...,429366,Medical Office Assistant with Health Unit Coor...,2018-11-12,2019-11-15,Self Paid/Private,18627272,390005,385725,1,1
1,V149433,HCAP11I2,Anatomy and Physiology Part 2,Roxanne Reyes,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573180,314,...,428991,Medical Office Assistant with Health Unit Coor...,2018-10-22,2019-11-08,OSAP,18079616,389458,385142,1,1
2,V149523,HCAP11I2,Anatomy and Physiology Part 2,Navneet Kaur X3,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573178,252,...,429522,Medical Office Assistant with Health Unit Coor...,2018-11-26,2019-11-29,Self Paid/Private,18672177,390256,385996,1,1
3,V149291,ICTELMIA03I1,Temporary Entry/Labour Market Impact Assessment,Sepehr Falahati,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573182,291,...,428243,Immigration Consultant,2018-08-27,2019-03-29,OSAP,18899234,388350,383964,1,3
4,V149220,PLTCL09I1,Tort Contract Law,Behnaz Aghajani,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573181,410,...,427842,Paralegal,2018-09-17,2019-09-06,OSAP,18658874,387801,383386,1,1

In [7]:
# Keep required columns using loc

df1 = df1.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df2 = df2.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df3 = df3.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df4 = df4.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df5 = df5.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df6 = df6.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df7 = df7.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df8 = df8.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df9 = df9.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df10 = df10.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
#df11 = df11.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]
df12 = df12.loc[:, ["ContractCode","TimeIn","SortField","weekend","timeout","attendanceid","TotalTime","contractstartdate","scheduledenddate","FundingSourceName"]]

In [8]:
df1.head()

,ContractCode,TimeIn,SortField,weekend,timeout,attendanceid,TotalTime,contractstartdate,scheduledenddate,FundingSourceName
0,V149497,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573177,307,2018-11-12,2019-11-15,Self Paid/Private
1,V149433,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573180,314,2018-10-22,2019-11-08,OSAP
2,V149523,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573178,252,2018-11-26,2019-11-29,Self Paid/Private
3,V149291,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573182,291,2018-08-27,2019-03-29,OSAP
4,V149220,2019-01-07,01/07/2019,2019/01/13,2019-01-07,10573181,410,2018-09-17,2019-09-06,OSAP